<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${MACOSX_BUNDLE_EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${MACOSX_BUNDLE_INFO_STRING}</string>
	<key>CFBundleIconFile</key>
	<string>${MACOSX_BUNDLE_ICON_FILE}</string>
	<key>CFBundleIdentifier</key>
	<string>${MACOSX_BUNDLE_GUI_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}</string>
	<key>CFBundleName</key>
	<string>${MACOSX_BUNDLE_BUNDLE_NAME}</string>
	<key>CFBundleDisplayName</key>
	<string>${MACOSX_BUNDLE_BUNDLE_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${MACOSX_BUNDLE_SHORT_VERSION_STRING}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MACOSX_BUNDLE_BUNDLE_VERSION}</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>${MACOSX_BUNDLE_COPYRIGHT}</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
				<string>jsonc</string>
				<string>json5</string>
				<string>jsonl</string>
				<string>jsonld</string>
				<string>har</string>
				<string>ipynb</string>
				<string>jshintrc</string>
				<string>eslintrc</string>
				<string>babelrc</string>
				<string>prettierrc</string>
				<string>stylelintrc</string>
				<string>jscop</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>io.typora.markdown</string>
				<string>net.ia.markdown</string>
				<string>public.markdown</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
				<string>mdown</string>
				<string>mkd</string>
				<string>mkdn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YAML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.yaml</string>
				<string>org.yaml.yaml</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
				<string>yml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.log</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>wtx</string>
				<string>log</string>
				<string>asc</string>
				<string>map</string>
				<string>bnf</string>
				<string>nfo</string>
				<string>diz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source Code</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.bash-script</string>
				<string>public.csh-script</string>
				<string>public.tcsh-script</string>
				<string>public.zsh-script</string>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.xhtml</string>
				<string>public.yaml</string>
				<string>public.toml</string>
				<string>public.css</string>
				<string>public.svg-image</string>
				<string>public.rss</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.swift-source</string>
				<string>public.java-source</string>
				<string>public.assembly-source</string>
				<string>public.fortran-source</string>
				<string>public.pascal-source</string>
				<string>public.makefile</string>
				<string>public.make-source</string>
				<string>public.patch-file</string>
				<string>com.apple.property-list</string>
				<string>com.apple.log</string>
				<string>com.microsoft.ini</string>
				<string>com.microsoft.typescript</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>net.daringfireball.markdown</string>
				<string>io.typora.markdown</string>
				<string>org.iso.sql</string>
				<string>public.markdown</string>
				<string>org.yaml.yaml</string>
				<string>net.ia.markdown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a51</string>
				<string>abnf</string>
				<string>ac</string>
				<string>ahk</string>
				<string>aidl</string>
				<string>am</string>
				<string>apinotes</string>
				<string>as</string>
				<string>asc</string>
				<string>asm</string>
				<string>asp</string>
				<string>aspx</string>
				<string>asy</string>
				<string>au3</string>
				<string>aux</string>
				<string>avs</string>
				<string>avsi</string>
				<string>awk</string>
				<string>axl</string>
				<string>babelrc</string>
				<string>bas</string>
				<string>bash</string>
				<string>bat</string>
				<string>bazel</string>
				<string>bbl</string>
				<string>bib</string>
				<string>bnf</string>
				<string>boo</string>
				<string>bsh</string>
				<string>bst</string>
				<string>build</string>
				<string>bzl</string>
				<string>c</string>
				<string>cake</string>
				<string>cc</string>
				<string>cdb</string>
				<string>cff</string>
				<string>cfg</string>
				<string>cfm</string>
				<string>cgi</string>
				<string>cir</string>
				<string>cj</string>
				<string>cjs</string>
				<string>cjsx</string>
				<string>cl</string>
				<string>clang-format</string>
				<string>clang-tidy</string>
				<string>clangd</string>
				<string>clj</string>
				<string>cljs</string>
				<string>cls</string>
				<string>clw</string>
				<string>cmake</string>
				<string>cmd</string>
				<string>cnf</string>
				<string>cobra</string>
				<string>cod</string>
				<string>coffee</string>
				<string>conf</string>
				<string>cpp</string>
				<string>cppm</string>
				<string>cr</string>
				<string>cs</string>
				<string>csh</string>
				<string>cson</string>
				<string>css</string>
				<string>csv</string>
				<string>csx</string>
				<string>ctest</string>
				<string>ctl</string>
				<string>cts</string>
				<string>cu</string>
				<string>cuf</string>
				<string>cuh</string>
				<string>cxx</string>
				<string>d</string>
				<string>dart</string>
				<string>dd</string>
				<string>ddx</string>
				<string>dfm</string>
				<string>di</string>
				<string>diag</string>
				<string>diff</string>
				<string>diz</string>
				<string>dlg</string>
				<string>dob</string>
				<string>doc</string>
				<string>dot</string>
				<string>dpk</string>
				<string>dpr</string>
				<string>dsm</string>
				<string>dsp</string>
				<string>dsr</string>
				<string>dsw</string>
				<string>dtd</string>
				<string>dtx</string>
				<string>el</string>
				<string>empy</string>
				<string>erl</string>
				<string>eslintrc</string>
				<string>ets</string>
				<string>ex</string>
				<string>exs</string>
				<string>eyecode</string>
				<string>f</string>
				<string>f03</string>
				<string>f08</string>
				<string>f18</string>
				<string>f2k</string>
				<string>f77</string>
				<string>f90</string>
				<string>f95</string>
				<string>fbp</string>
				<string>fd</string>
				<string>fir</string>
				<string>for</string>
				<string>fpd</string>
				<string>fpp</string>
				<string>frm</string>
				<string>fs</string>
				<string>fsi</string>
				<string>fsl</string>
				<string>fsscript</string>
				<string>fsx</string>
				<string>fsy</string>
				<string>ftn</string>
				<string>gemspec</string>
				<string>gmk</string>
				<string>gn</string>
				<string>gni</string>
				<string>go</string>
				<string>gop</string>
				<string>gpp</string>
				<string>gradle</string>
				<string>groovy</string>
				<string>grunit</string>
				<string>gs</string>
				<string>gsh</string>
				<string>gv</string>
				<string>gvy</string>
				<string>gy</string>
				<string>gyp</string>
				<string>gypi</string>
				<string>h</string>
				<string>har</string>
				<string>hbs</string>
				<string>hf</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hrl</string>
				<string>hs</string>
				<string>hsql</string>
				<string>hss</string>
				<string>hta</string>
				<string>htaccess</string>
				<string>htc</string>
				<string>htd</string>
				<string>htm</string>
				<string>html</string>
				<string>htt</string>
				<string>hx</string>
				<string>hxx</string>
				<string>ia</string>
				<string>idl</string>
				<string>idx</string>
				<string>iface</string>
				<string>ifs</string>
				<string>il</string>
				<string>in</string>
				<string>inc</string>
				<string>ind</string>
				<string>inf</string>
				<string>info</string>
				<string>ini</string>
				<string>inl</string>
				<string>inp</string>
				<string>ins</string>
				<string>ipynb</string>
				<string>isl</string>
				<string>islu</string>
				<string>iss</string>
				<string>isty</string>
				<string>itcl</string>
				<string>ixx</string>
				<string>jad</string>
				<string>jam</string>
				<string>java</string>
				<string>jd</string>
				<string>jl</string>
				<string>jmd</string>
				<string>js</string>
				<string>jscop</string>
				<string>jse</string>
				<string>jshintrc</string>
				<string>jsm</string>
				<string>json</string>
				<string>json5</string>
				<string>jsonc</string>
				<string>jsonl</string>
				<string>jsonld</string>
				<string>jsp</string>
				<string>jsx</string>
				<string>kt</string>
				<string>kts</string>
				<string>latex</string>
				<string>less</string>
				<string>lfm</string>
				<string>lisp</string>
				<string>litcoffee</string>
				<string>ll</string>
				<string>lof</string>
				<string>log</string>
				<string>lot</string>
				<string>lpr</string>
				<string>lsp</string>
				<string>ltx</string>
				<string>lua</string>
				<string>luadoc</string>
				<string>luax</string>
				<string>m</string>
				<string>m4</string>
				<string>mak</string>
				<string>make</string>
				<string>map</string>
				<string>markdown</string>
				<string>md</string>
				<string>mdown</string>
				<string>mht</string>
				<string>midl</string>
				<string>mir</string>
				<string>mjs</string>
				<string>mk</string>
				<string>mkd</string>
				<string>mkdn</string>
				<string>ml</string>
				<string>mli</string>
				<string>mlir</string>
				<string>mll</string>
				<string>mly</string>
				<string>mm</string>
				<string>mojo</string>
				<string>mts</string>
				<string>mysql</string>
				<string>nb</string>
				<string>nfo</string>
				<string>nim</string>
				<string>nimble</string>
				<string>nimrod</string>
				<string>nims</string>
				<string>ninja</string>
				<string>nlf</string>
				<string>nse</string>
				<string>nsh</string>
				<string>nsi</string>
				<string>odl</string>
				<string>oem</string>
				<string>osts</string>
				<string>pag</string>
				<string>pas</string>
				<string>patch</string>
				<string>pch</string>
				<string>php</string>
				<string>php_cs</string>
				<string>phps</string>
				<string>phpt</string>
				<string>phtml</string>
				<string>pl</string>
				<string>plist</string>
				<string>plx</string>
				<string>pm</string>
				<string>po</string>
				<string>pod</string>
				<string>podspec</string>
				<string>pom</string>
				<string>pp</string>
				<string>prefs</string>
				<string>prettierrc</string>
				<string>pri</string>
				<string>pro</string>
				<string>prop</string>
				<string>properties</string>
				<string>ps1</string>
				<string>psc1</string>
				<string>psd1</string>
				<string>psm1</string>
				<string>pth</string>
				<string>pxd</string>
				<string>pxi</string>
				<string>py</string>
				<string>py3</string>
				<string>pyi</string>
				<string>pylintrc</string>
				<string>pyw</string>
				<string>pyx</string>
				<string>ql</string>
				<string>qs</string>
				<string>r</string>
				<string>rake</string>
				<string>rb</string>
				<string>rbs</string>
				<string>rbw</string>
				<string>rc</string>
				<string>rc2</string>
				<string>rct</string>
				<string>rd</string>
				<string>rdf</string>
				<string>reb</string>
				<string>red</string>
				<string>reds</string>
				<string>reg</string>
				<string>rej</string>
				<string>resx</string>
				<string>rh</string>
				<string>rhtml</string>
				<string>rjs</string>
				<string>rmd</string>
				<string>rs</string>
				<string>rsource</string>
				<string>rss</string>
				<string>ruby</string>
				<string>s</string>
				<string>sas</string>
				<string>sbt</string>
				<string>scala</string>
				<string>sce</string>
				<string>sci</string>
				<string>scm</string>
				<string>scriptlet</string>
				<string>scss</string>
				<string>sed</string>
				<string>sh</string>
				<string>shtml</string>
				<string>sif</string>
				<string>sil</string>
				<string>smali</string>
				<string>sml</string>
				<string>sps</string>
				<string>sql</string>
				<string>sra</string>
				<string>srd</string>
				<string>srf</string>
				<string>srj</string>
				<string>srm</string>
				<string>srp</string>
				<string>srq</string>
				<string>srs</string>
				<string>sru</string>
				<string>srw</string>
				<string>stp</string>
				<string>sty</string>
				<string>stylelintrc</string>
				<string>sv</string>
				<string>svelte</string>
				<string>svg</string>
				<string>svh</string>
				<string>swift</string>
				<string>sx</string>
				<string>tcl</string>
				<string>tcsh</string>
				<string>te</string>
				<string>tex</string>
				<string>texi</string>
				<string>texinfo</string>
				<string>text</string>
				<string>theme</string>
				<string>tm</string>
				<string>toc</string>
				<string>toml</string>
				<string>tpl</string>
				<string>tpx</string>
				<string>ts</string>
				<string>tsv</string>
				<string>tsx</string>
				<string>txi</string>
				<string>txt</string>
				<string>typ</string>
				<string>url</string>
				<string>v</string>
				<string>vala</string>
				<string>vapi</string>
				<string>vb</string>
				<string>vbs</string>
				<string>vh</string>
				<string>vhd</string>
				<string>vhdl</string>
				<string>vim</string>
				<string>vue</string>
				<string>wast</string>
				<string>wat</string>
				<string>whs</string>
				<string>winget</string>
				<string>wl</string>
				<string>wls</string>
				<string>wlua</string>
				<string>wtx</string>
				<string>wxml</string>
				<string>wxss</string>
				<string>xaml</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xpm</string>
				<string>xrc</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>xul</string>
				<string>yaml</string>
				<string>yml</string>
				<string>yrl</string>
				<string>zig</string>
				<string>zsh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Any File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>NPShimDocument</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.item</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>TEXT</string>
			</array>
		</dict>
	</array>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
</dict>
</plist>
